<!--<div class="facilitylist">
    <div class="row" ng-repeat="facility in data">
        <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><a href="javascript:;"> {{facility.title}} </a></h4>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 imagetab">
                            <img ng-src="{{facility.imgsrc}}" alt="info">
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <p>{{facility.detail}}</p>
                            <div class="top-space-20"></div>
                            <p>{{facility.otherinfo}}</p>
                            <div class="panel-padding pull-right">
                                <h5><button type="button" class="btn btn-primary" ng-click="vm.viewprofileClick(facility)">>View the Full detail</button></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="row service-wrapper-row" ng-repeat="facility in data">
    <div class="col-sm-4">
        <div class="service-image">
            <img ng-src="{{facility.imgsrc}}" alt="info">
        </div>
    </div>
    <div class="col-sm-8">
        <h3>{{facility.title}} </h3>
        <p>
            <p>{{facility.detail}}</p>
        </p>
        <p>
            <p>{{facility.otherinfo}}</p>
        </p>
        <div class="panel-padding pull-right">
            <h5><button type="button" class="btn btn-primary" ng-click="vm.viewprofileClick(facility)">>View the Full detail</button></h5>
        </div>
    </div>
</div>
